.sidebarDesign{
    
    position: fixed;
    background-color:  red;
    
}
.sidebarDesign li{
    margin-bottom: 2em;
    
}
.sidebarDesign li:hover span{
    display: inline-block;
    transform: translate(5px);
}
 